
html {
	background: url(/static/img/bg.png) no-repeat center center fixed;
	-webkit-background-size: conver;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	margin: 0;
	color: #626262;
}

.error {
	color: red;
}

a {
	color: #626262;
  text-decoration: none;
}

select {
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
	color: #626262;
}

textarea {
  width: 100%;
  height: 200px;
  font-size: 17px;
  font-family: monospace;
}

input {
	font-family: Helvetica, Arial, sans-serif;
	color: #626262;
}

div.home-intro span {
	font-style: bold;
}

div.home-intro span > span {
	color: #f26624;
}

div.main {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

div.home-content {
	width: 40%;
	margin-top: 100px;
	margin-left: 20px;
	font-size: 25px;
}

div.button-link {
	float: left;
	margin-top: 40px;
	margin-left: 5px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #f26624;
	font-size: 22px;
	box-shadow: 2px 2px 2px #111111;
}

div.button-link a {
	color: #F5F5DC;
	text-shadow: 1px 1px #111111;
}

form#pulse-form {
	font-size: 20px;
}

input[type=text] {
	width: 200px;
	font-size: 20px;
	padding: 2px;
	font-family: monospace;
}

input[type=number] {
	width: 50px;
	font-size: 20px;
	padding: 2px;
	font-family: monospace;
}

input[type=submit] {
  font-size: 20px;
}

div.main-title {
	display: block;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
	border-bottom: 4px solid #666;
	text-decoration: none;
}

div.page-title {
	display: block;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 15px;
	text-decoration: none;
}

div.home-title {
	padding-bottom: 20px;
	font-size: 60px;
	font-style: bold;
}

div.survey-content {
	width: 70%;
	margin: 0 auto;
}

div.picks-content {
	padding-bottom: 20px;
}

div.vis-content {
	margin: 0 auto;
	width: 1000px;
}

.vis-title {
	color: #222;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 15px;
	text-decoration: none;
}

.wiki-header {
	color: #C0C0C0;
	text-align: right; 
	text-decoration: none;
}

.edit-and-history {
	float: left;
	margin-left: 550px;
}

.login-and-logout {
	float: right;
}

.wiki-footer {
	color: #C0C0C0;
	text-align: right;
	font-size: 16px;
}

.post-date {
	position: absolute;
	right: 0px;
	bottom: 0px;
	color: #999;
}

.wiki-content {
	margin-top: 5px;
	white-space: normal;
}

#dimmy-error {
	margin-top: 100px;
}

#error-text {
	width: 65%;
	float: right; 
  margin-top: 165px;
  font-size: 22px;
}

div.auth {
	float: right;
	margin-right: 20px;
	text-align: right;
	font-size: 12px;
}

.vis-block {
	padding: 10px;
}

.line-chart {
	position: absolute;
}

.pulse-gauge {
	position: absolute;
}

.breakout-guage {
	position: absolute;
}

div.import-menu {
}

.admin-column-1 {
	position: absolute;
	display: block;
	float: left;
	width: 500px;
}

.admin-column-2 {
	position: absolute;
	display: block;
	margin-left: 400px;
	float: right;
	width: 500px;
}

.admin-section-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.score-remove-submit {
	margin-bottom: 20px;
}
