{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block navigation %}
<nav class="admin-nav">
<div class="nav-title">
	<a href='/' class="nav-title">
	<img src="/static/img/logo.png" class="logo" height=50 width=60>
	<div class="site-title">
		TEAM<span>PULSE</span>
	</div>
	</a>
</div>
<ul class="top-nav">
<li><a href="/admin/home">Admin Home</a></li>
<li><a href="/admin/projects">Manage Projects</a></li>
<li><a href="/admin/users">Manage Users</a></li>
<li><a href="/scores/table/all">All Responses</a></li>
<li>View Team Records
<ul>
{% for p in projects %}
<li>
<a
href='/scores/table/{{p.project.replace(' ','-').replace("'","_")}}'>
{{ p.project }}
</a>
</li>
{% endfor %}
</ul>
</li>
<li>Comment Records
<ul>
{% for p in projects %}
<li>
<a
href='/scores/table/comments/{{p.project.replace(' ','-').replace("'","_")}}'>
{{ p.project }}
</a>
</li>
{% endfor %}
</ul>
</li>
<li>User Responses
<ul>
{% for p in projects %}
<li>
<a
href='/scores/table/comments/users/{{p.project.replace(' ','-').replace("'","_")}}'>
{{ p.project }}
</a>
</li>
	{% endfor %}
</ul>
</li>
</ul>
</nav>
{% endblock %}

<div id="content">
{% block content %}
{% endblock %}
</div>
