{% extends "adminbase.html" %}

{% block content %}

<div class='page-title'>Import and Export</div>

<div name='import-menu'>

	<div class='admin-column-1'>
		<div class='admin-section-title'>Import from Google Docs:</div>
		<form method='post' action='/admin/import'>
			<table id='import-table'>
				<tr>
					<td>
						<label>Feed:</label>
					</td>
					<td>
						<select name='feed'>
							<option value='cells'>cells</option>
							<option value='list'>list</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label>SSkey:</label>
					</td>
					<td>
						<input type='text' name='sskey'>
					</td>
				</tr>
				<tr>
					<td>
						<label>WrkSht:</label>
					</td>
					<td>
						<input type='text' name='worksheet'>
					</td>
				</tr>
			</table>
			<input type='submit' value='Import'>
		</form>
	</div>

	<div class='admin-column-2'>
		<div class='admin-section-title'>Drop a Table:</div>
		<form method='post' action='/admin/drop'>
			<table id='drop-tables'>
				<tr>
					<td>
						<label>Choose a table:</label>
					</td>
					<td>
						<select name='drops'>
							<option value='scores'>scores</option>
							<option value='users'>scores</option>
						</select>
					</td>
				</tr>
			</table>
			<input type='submit' value='Drop Tables'>
		</form>
	</div>

</div>

{% endblock %}
