{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block navigation %}
<div class="nav-title">
	<a href="/" class="nav-title">TEAM<span>PULSE</span></a>
</div>
<ul class="top-nav">
<li><a href="/admin/home">Admin Home</a></li>
<li><a href="/admin/projects">Projects Admin</a></li>
<li><a href="/admin/users">Users Admin</a></li>
<li><a href="/scores/table/all">All Records</a></li>
<li>Project Tables
<ul>
{% for p in projects %}
<li>
<a
href='/scores/table/{{p.project.replace(' ','-').replace("'","_")}}'>
{{ p.project }}
</a>
</li>
{% endfor %}
</ul>
</li>
<li>Comments
<ul>
{% for p in projects %}
<li>
<a
href='/scores/table/comments/{{p.project.replace(' ','-').replace("'","_")}}'>
{{ p.project }}
</a>
</li>
{% endfor %}
</ul>
</li>
<li>Users Tables
<ul>
{% for p in projects %}
<li>
<a
href='/scores/table/comments/users/{{p.project.replace(' ','-').replace("'","_")}}'>
{{ p.project }}
</a>
</li>
	{% endfor %}
</ul>
</li>
</ul>
{% endblock %}

<div id="content">
{% block content %}
{% endblock %}
</div>
