{% extends "adminbase.html" %}

{% block content %}

<div class="home-content">

	<div class='home-title'>Welcome Admin,</div>

	<div class='home-intro'>
		<p>
		<span>TEAM<span>PULSE</span></span> administration is pretty 
		simple. There are two levels of access: TABLE, and ADMIN access.
		</p>
		<p>
		  Users with TABLE privilege are limited to viewing: All Records,
		Project Tables, and Comments Pages. 
		</p>
		<p>
		  Users with ADMIN privilege can view Users Tables, Projects 
		Admin, and Users Admin Pages. These pages can be used to remove
		individual scores; add or remove projects; and modify user
		privileges respectively.  
		</p>
	</div>

	<div class="button-link">
		<a href='/admin/users/'>
			Manage users	
		</a>
	</div>
	<div class="button-link">
		<a href='/admin/projects/'>
			Manage projects	
		</a>
	</div>

</div>

{% endblock %}
