<!DOCTYPE html>

<html>

<head>

	<title>Team Pulse</title>

	<link rel="stylesheet" type="text/css" href="/static/mainstyle.css" />
	<link rel="stylesheet" type="text/css" href="/static/headerstyle.css" />

</head>

<body id="normal">

	<div id="auth" class="auth">you're logged in as: {{ user | safe }} , 
		wrong user? <a href="/logout">click here</a>
	</div>

	<a href="/" class="main-title">Team Pulse</a>

	{% block navigation %}
	<nav>
		<ul class="top-nav">
			<li><a href='/'>Home</a></li>
			<li><a href='/survey/project-select/'>Survey</a></li>
			<li><a href='/visuals/summary/'>Summary</a></li>
			<li>Projects
				<ul>
					{% for p in projects %}
					<li>
						<a href='/visuals/charts/{{ p.project.replace(' ','-')}}'>
							{{ p.project }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</li>
		</ul>
	</nav>
	{% endblock %}

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>

</body>

</html>
