<!DOCTYPE html>

<html>

<head>

<title>Team Pulse</title>

<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/nav.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/table.css"/>
<link rel="stylesheet" type="text/css" 
href="http://fonts.googleapis.com/css?family=Ubuntu:400,700">
<script type="text/javascript" src="/static/js/ga.js"></script>

{% block head %}
{% endblock %}

</head>

<body>

<nav>
{% block navigation %}
{% endblock %}
</nav>

<div id="auth" class="auth">
	{{ user | safe }} (<a href="/logout">logout</a>)
</div>

<div id="content" class="main">
{% block content %}
{% endblock %}
</div>

</body>

</html>
