{% extends 'visualsbase.html' %}

{% block javascript %}

<script type="text/javascript">

google.load('visualization','1.0',{'packages':['corechart','gauge']});

google.setOnLoadCallback(drawChart);

function drawChart() {
{% for gauge in breakout_gauges %}
	draw{{gauge[0].replace(' ','_')}}Gauge();
{% endfor %}
}

{% for gauge in breakout_gauges %}
function draw{{gauge[0].replace(' ','_')}}Gauge() { 

	var JSONObject = {{ gauge[1]|safe }}; 

	var options = {
		width: 1000, height: 300,
		min: 0, max: 10,
		greenFrom:7, greenTo:10,
		yellowFrom:4, yellowTo: 7,
		redFrom: 0, redTo: 4,
		minorTicks: 5
	};

	var data_table = new google.visualization.DataTable(JSONObject, 0.5);
	var chart = new google.visualization.Gauge(
		document.getElementById('{{"%s_gauge"%gauge[0].replace(' ','_')}}')
	);
	chart.draw(data_table, options);
}
{% endfor %}

</script>

{% endblock %}

{% block visualization %}

<div class="vis-title">
	<a href="/visuals/breakout">Last Week's Results</a>
</div>

{% for gauge in breakout_gauges %}
<div class="project-title">{{ gauge[0] }}</div>
<div class="project-respondents">Number of respondents: {{ respondents[gauge[0]] }}</div>
<div class="summary-gauge" id='{{ "%s_gauge" % gauge[0].replace(' ','_')| safe }}'></div>
{% endfor %}

{% endblock %}
