{% extends 'visualsbase.html' %}

{% block javascript %}

<script type="text/javascript">

google.load('visualization','1.0',{'packages':['corechart','gauge']});

google.setOnLoadCallback(drawCharts);

var windowHeight = .9 * window.outerHeight;
var windowWidth = .9 * window.outerWidth;
var lineChartHeight = .5 * windowHeight;
var lineChartWidth = .6 * windowWidth;
var gaugeWidth = .2 * windowWidth;
var pulseGaugeHeight = .3333 * windowHeight;
var breakoutGaugeHeight = .6666 * windowHeight;

function drawCharts() {
	drawLineChart();
	drawThisWeekPulseGauge();
	drawLastWeekPulseGauge();
	drawThisWeekBreakoutGauge();
	drawLastWeekBreakoutGauge();
}

function drawLineChart() {

	var JSONObject = {{ line_chart_object|safe }}; 

	var options = {
		width: lineChartWidth, height: lineChartHeight,  
		curveType: "function",
		vAxis: {viewWindowMode: "pretty"},
		hAxis: {viewWindowMode: "pretty"},  
		legend: {position: 'none'},
		chartArea:{width: '90%', height: '90%'},
		title: 'Team Health Score Trending',
    titleTextStyle: {color: '#626262', fontSize: 16}
	};

	var data_table = new google.visualization.DataTable(JSONObject, 0.5);
	var chart = new google.visualization.LineChart(
		document.getElementById('line_chart_div')
	);
	chart.draw(data_table, options);
}

function drawThisWeekPulseGauge() {

	var JSONObject = {{ this_week_pulse_gauge_object|safe }}; 

	var options = {
		width: gaugeWidth, height: pulseGaugeHeight,
		min: 0, max: 10,
		greenFrom:7, greenTo:10,
		yellowFrom:4, yellowTo: 7,
		redFrom: 0, redTo: 4,
		minorTicks: 5
	};

	var data_table = new google.visualization.DataTable(JSONObject, 0.5);
	var chart = new google.visualization.Gauge(
		document.getElementById('this_week_pulse_gauge_div')
	);
	chart.draw(data_table, options);
}

function drawLastWeekPulseGauge() {

	var JSONObject = {{ last_week_pulse_gauge_object|safe }}; 

	var options = {
		width: gaugeWidth, height: pulseGaugeHeight,
		min: 0, max: 10,
		greenFrom:7, greenTo:10,
		yellowFrom:4, yellowTo: 7,
		redFrom: 0, redTo: 4,
		minorTicks: 5
	};

	var data_table = new google.visualization.DataTable(JSONObject, 0.5);
	var chart = new google.visualization.Gauge(
		document.getElementById('last_week_pulse_gauge_div')
	);
	chart.draw(data_table, options);
}

function drawThisWeekBreakoutGauge() { 

	var JSONObject = {{ this_week_breakout_gauge_object|safe }}; 

	var options = {
		width: gaugeWidth, height: breakoutGaugeHeight,
		min: 0, max: 10,
		greenFrom:7, greenTo:10,
		yellowFrom:4, yellowTo: 7,
		redFrom: 0, redTo: 4,
		minorTicks: 5
	};

	var data_table = new google.visualization.DataTable(JSONObject, 0.5);
	var chart = new google.visualization.Gauge(
		document.getElementById('this_week_breakout_gauge_div')
	);
	chart.draw(data_table, options);
}

function drawLastWeekBreakoutGauge() {

	var JSONObject = {{ last_week_breakout_gauge_object|safe }}; 

	var options = {
		width: gaugeWidth, height: breakoutGaugeHeight,
		min: 0, max: 10,
		greenFrom:7, greenTo:10,
		yellowFrom:4, yellowTo: 7,
		redFrom: 0, redTo: 4,
		minorTicks: 5
	};

	var data_table = new google.visualization.DataTable(JSONObject, 0.5);
	var chart = new google.visualization.Gauge(
		document.getElementById('last_week_breakout_gauge_div')
	);
	chart.draw(data_table, options);

mainTop = '200px';
lastWeekTop = 1.65 * pulseGaugeHeight + 40 + 'px';
document.getElementById('last_week_pulse_gauge_div').style.top = mainTop
document.getElementById('last_week_breakout_gauge_div').style.top = lastWeekTop

lineChartLeft = gaugeWidth + 22 + 'px';
document.getElementById('line_chart_div').style.top = mainTop;
document.getElementById('line_chart_div').style.left = lineChartLeft;
document.getElementById('line_chart_text_div').style.top = 220 + lineChartHeight + 'px';
document.getElementById('line_chart_text_div').style.left = lineChartLeft;

thisWeekTop = 1.65 * pulseGaugeHeight + 40 + 'px';
thisWeekLeft = gaugeWidth + lineChartWidth + 48 + 'px';
document.getElementById('this_week_pulse_gauge_div').style.top = mainTop;
document.getElementById('this_week_pulse_gauge_div').style.left = thisWeekLeft;
document.getElementById('this_week_breakout_gauge_div').style.top = thisWeekTop;
document.getElementById('this_week_breakout_gauge_div').style.left = thisWeekLeft;
document.getElementById('this_week_respondents').style.left = thisWeekLeft;
}

</script>

{% endblock %}

{% block content %}

<div class="vis-title">
	<a href="/visuals/charts/{{project.replace(' ','-').replace("'","_")}}">
	{{ project }} Historical Results
	</a>
</div>
<div class="respondents-container">
	<div class="week-respondents" id="last_week_respondents">
		Number of respondents: {{last_week_respondents}}
	</div>
	<div class="week-respondents" id="this_week_respondents">
		Number of respondents: {{this_week_respondents}}
	</div>
</div>

<div class="vis-block">
	<div class="line-chart-container">
		<div class="line-chart" id="line_chart_div"></div>
		<div class="line-chart-text" id="line_chart_text_div">
      mouse-over the graph to display the pulse for each week
    </div>
	</div>
	<div class="pulse-gauge" id="last_week_pulse_gauge_div"></div>
	<div class="pulse-gauge" id="this_week_pulse_gauge_div"></div>
	<div class="breakout-guage" id="last_week_breakout_gauge_div"></div>
	<div class="breakout-guage" id="this_week_breakout_gauge_div"></div>
</div>

{% endblock %}
