<!DOCTYPE html>

<html>

  <head>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load('visualization', '1.0', {'packages':['corechart']});

      google.setOnLoadCallback(drawChart);

      function drawChart() {

				var JSONObject = {
					cols: [{id: 'topping', label: 'Topping', type: 'string'},
								{id: 'slices', label: 'Slices', type: 'number'}],
					rows: [{c:[{v: 'Mushrooms'}, {v: 3}]},
								{c:[{v: 'Onions'}, {v: 1}]},
								{c:[{v: 'Olives'}, {v: 1}]},
								{c:[{v: 'Zucchini'}, {v: 1}]},
								{c:[{v: 'Pepperoni'}, {v: 2}]}]
				};

        var options = {
          width: 900, height: 450,  
					curveType: "function",
					vAxis: {viewWindowMode: "pretty"},
					hAxis: {viewWindowMode: "pretty"},  
          legend: {position: 'none'},
					chartArea:{width: '90%', height: '90%'}
			  };

				var data_table = new google.visualization.DataTable(JSONObject, 0.5);
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data_table, options); //, options);
      }

    </script>

  </head>

  <body>

    <div id="chart_div"></div>

  </body>

</html>
