{% extends "base.html" %}

{% block content %}

<br>

<table class="comment-table">

	<div class='page-title'>{{ project }} entries</div>

	<tr class='first-row'>
		<td>Week Date</td>
		<td>Pride</td>
		<td>Comm</td>
		<td>Exp</td>
		<td>Chal</td>
		<td>Pulse</td>
		<td class='comment-column'>Comment</td>
	</tr>

	{% for s in scores %}

	<tr class='record'>
		<td>{{ s.week_date }}</td>
		<td>{{ s.pride }}</td>
		<td>{{ s.communication }}</td>
		<td>{{ s.expectations }}</td>
		<td>{{ s.challenge }}</td>
		<td>{{ s.pulse }}</td>
		<td class='comment-column'>{{ s.feedback }}</td>
  </tr>

	{% endfor %}

</table>

{% endblock %}
