{% extends "base.html" %}

{% block content %}

		<div name='import-menu'>

			<form method='post'>

				<table name='import-table'>
					<tr>
						<td>
							<input type='text' name=''></input>
						</td>
					</tr>
					<tr>
						<td>
							<input type='text' name=''></input>
						</td>
					</tr>
					<tr>
						<td>
							<input type='text' name=''></input>
						</td>
					</tr>
				</table>

				<input type='submit' value='Drop Tables'></input>

			</form>

		</div>

{% endblock %}
