{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block navigation %}
<div class="nav-title">
	<a href='/' class="nav-title">
	<img src="/static/img/logo.png" class="logo" height=50 width=60>
	<div class="site-title">
		TEAM<span>PULSE</span>
	</div>
	</a>
</div>
<ul class="top-nav">
<li><a href='/'>HOME</a></li>
<li><a href='/survey/project-select/'>SURVEY</a></li>
<li><a href='/visuals/summary/'>SUMMARY</a></li>
<li><a href='/visuals/breakout/'>BREAKOUT</a></li>
<li>PROJECTS
<ul>
{% for p in projects %}
<li>
<a 
href='/visuals/charts/{{p.project.replace(' ','-').replace("'","_")}}'>
{{ p.project }}
</a>
</li>
	{% endfor %}
</ul>
</li>
<li><a href='/admin/home/'>ADMIN</a></li>
</ul>
{% endblock %}

{% block content %}
{% endblock %}
