{% extends "frontbase.html" %}

{% block content %}

<div class="home-content">

	<div class='home-title'>Welcome,</div>

	<div class='home-intro'>
		<span>TEAM<span>PULSE</span></span> collects employee ratings of
		four happiness criteria to measure employee satisfaction & overall
		project health. Values are calculated & graphically displayed to
		give Modeans a view into how project health has changed over time.
	</div>

	<div class="survey-link">
		<a href='/survey/project-select/'>
			Take the survey
		</a>
	</div>

</div>

{% endblock %}
