{% extends "frontbase.html" %}

{% block content %}

<div class="home-content">

	<div class="home-title">Welcome,</div>

	<div class="home-intro">
		<span>TEAM<span>PULSE</span></span> collects team member input on
		satisfaction and fulfillment in order to measure project health &
		team member happiness. Values for project health are calculated &
		graphically displayed to provide a view into how project health
		has changed over time.
	</div>

</div>

<div class="button-link">
	<a href="/survey/project-select/">
		Take the survey
	</a>
</div>

<div class="email-text">
	If you'd like to demo the admin site section, send a message to:
	<a href="mailto:devskag@gmail.com">
		devskag@gmail.com
	</a>
</div>

{% endblock %}
