{% extends "adminbase.html" %}

{% block content %}

		<div name='import-menu'>

			<form method='post'>

				<table name='import-table'>
					<tr>
						<td>
              <label>Feed:</label>
						</td>
						<td>
							<select name='feed'>
								<option value='cells'>cells</option>
								<option value='list'>list</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
              <label>SSkey:</label>
						</td>
						<td>
							<input type='text' name='sskey'></input>
						</td>
					</tr>
					<tr>
						<td>
              <label>WrkSht:</label>
						</td>
						<td>
							<input type='text' name='worksheet'></input>
						</td>
					</tr>
				</table>

				<input type='submit' value='Import'></input>

			</form>

		</div>

{% endblock %}
