{% extends "base.html" %}

{% block content %}

	<h2>Team Pulse Survey:</h2>

	<form method='post' id='pick-form'>

		<table>
			<tr>
				<td>
					<input type="checkbox" name="projects" value="Chiquita" id="box">Chiquita</br>
				</td>
				<td>
					<input type="checkbox" name="projects" value="HTC" id="box">HTC</br>
				</td>
				<td>
					<input type="checkbox" name="projects" value="LENOX" id="box" >LENOX</br>
				</td>
				<td>
					<input type="checkbox" name="projects" value="Modea" id="box">Modea</br>
				</td>
			</tr>
			<tr>
				<td>
					<input type="checkbox" name="projects" value="nTelos" id="box">nTelos</br>
				</td>
				<td>
					<input type="checkbox" name="projects" value="UVA Health System" id="box" >UVA Health System</br>
				</td>
				<td>
					<input type="checkbox" name="projects" value="5 Hour Energy" id="box" >5 Hour Energy</br>
				</td>
				<td>
					<input type="checkbox" name="projects" value="Duke Health" id="box" >Duke Health</br>
				</td>
			</tr>
		</table>

		<br>
		<input type="submit">

	</form>

{% endblock %}
