{% extends "adminbase.html" %}

{% block content %}

<div class='page-title'>Project Management</div>

<div class="error">
	{% if have_error %} {{ error }} {% endif %}
</div>

<form method='post' action='/admin/projects/remove'>

	<table class="record-table">
		<tr class='first-row'>
			<td class='half-column'>Project</td>
			<td>Date Added</td>
		</tr>
		{% for p in projectList %}
		<tr class='record'>
			<td>
				<input type="radio" name="project" value="{{ p.project }}">
					{{ p.project }}
				</input>
			</td>
			<td>{{ p.date_added }}</td>
		</tr>
		{% endfor %}
	</table>

	<input type='submit' value='Remove Project'>
</form>

<form method='post' action='/admin/projects'>

	<table name='projects-admin-table'>
		<tr>
			<td>
				<input type='text' name='project'>
			</td>
		</tr>
	</table>

	<input type='submit' value='Add Project'>
</form>

{% endblock %}
