{% extends "base.html" %}

{% block content %}

	<br>

	<div class='page-title'>Project Management</div>

	<form method='post' action='/admin/projects/remove'>

		<table class="record-table">

			<tr class='first-row'><td class='half-column'>Project</td><td>Date Added</td></tr>

			{% for p in projects %}

			<tr class='record'>
				<td>
					<input type="radio" name="project" value="{{ p.project }}">{{ p.project }}</input>
				</td>
				<td>{{ p.date_added }}</td>
			</tr>

			{% endfor %}

		</table>

		<br>

		<input type='submit' value='Remove Project'></input>

	</form>

	<br>

	<form method='post' action='/admin/projects/add'>

		<table name='projects-admin-table'>
			<tr>
				<td>
					<input type='text' name='project'></input>
				</td>
			</tr>
		</table>

		<input type='submit' value='Add Project'></input>

	</form>

{% endblock %}
