{% extends 'visualsbase.html' %}	

{% block javascript %}

<script type="text/javascript">

google.load('visualization','1.0',{'packages':['corechart','gauge']});

google.setOnLoadCallback(drawChart);

function drawChart() {
	drawSummaryGauge();
}

function drawSummaryGauge() { 

	var JSONObject = {{ summary_gauge_object|safe }}; 

	var options = {
		width: 1000, height: 700,
		min: 0, max: 10,
		greenFrom:7, greenTo:10,
		yellowFrom:4, yellowTo: 7,
		redFrom: 0, redTo: 4,
		minorTicks: 5
	};

	var data_table = new google.visualization.DataTable(JSONObject, 0.5);
	var chart = new google.visualization.Gauge(
		document.getElementById('summary_gauge_div')
	);
	chart.draw(data_table, options);
}

</script>

{% endblock %}

{% block content %}

<div class="vis-title">
	<a href="/visuals/summary">This Week's Projects</a>
</div>

<div class="chart" id="summary_gauge_div"></div>

{% endblock %}
