{% extends "base.html" %}

{% block content %}

	<h2>Team Pulse Survey:</h2>

	<form method='post' id='pulse-form'>

	{% for survey in surveys %}

		<div class="label">Projects:
			<select name="project">
				<option value="{{ survey }}">{{ survey }}</option>
				<option value="Chiquita">Chiquita</option>
				<option value="Riunite">Riunite</option>
				<option value="Lenox">Lenox</option>
				<option value="nTelos">nTelos</option>
				<option value="Duke Health">Duke Health</option>
				<option value="Modea">Modea</option>
			</select>
		</div>

		<table id="pulses">

			<tr>
				<td class="label">Pride:</td>
  			<td><input type='number' name='pride' min='1' max='10'></td>
				<td class='error'>{{error_pride}}</td>

				<td class="label">Communication:</td>
  			<td><input type='number' name='communication' min='1' max='10'></td>
				<td class='error'>{{error_communication}}</td>

				<td class="label">Expectations:</td>
  			<td><input type='number' name='expectations' min='1' max='10'></td>
				<td class='error'>{{error_passion}}</td>

				<td class="label">Challenge:</td>
  			<td><input type='number' name='challenge' min='1' max='10'></td>
				<td class='error'>{{error_challenge}}</td>
			</tr>

		</table>

		<div class="label">Feedback:
			<textarea name="feedback">{{feedback}}</textarea>
		</div>

		<br>

		{% endfor %}

		<input type="submit">

	</form>

{% endblock %}
